# Base de datos Neon.tech
DB_HOST=ep-raspy-voice-ah2ezcqg-pooler.c-3.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_7PVDxYpiK3nC
DB_NAME=neondb

# JWT
JWT_SECRET=1a519ca95ab9fe747446d1be40a9c6b0b5539ba81f1cd10faeb8292e07c2ee6305ae42c0e3d7dac6916861fb212f66df21607b9363c8b6ae3d377afa249aaa78
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3001